.about {
  clip-path: polygon(0 15%, 100% 0, 100% 90%, 0 100%);
  background-color: var(--accent-color);

  &__title {
    color: var(--light-color);
  }

  &__wrapper {
    @include flex-all-center;

    margin-bottom: 50px;
  }

  &__image {
    display: block;
    border-radius: 30px;
    margin-right: 100px;
  }

  &__info {
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }

  &__text {
    @include mb(30px);

    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--light-color);
  }

  &__subtitle {
    font-size: 30px;
    color: var(--light-color);
  }

  &__list {
    @include flex-all-sb;

    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  &__name {
    font-size: 18px;
    font-weight: 400;
    color: var(--light-color);
  }

  &__icon {
    margin-bottom: 20px;
  }
}
