.about {
  clip-path: polygon(0 10%, 100% 0, 100% 94%, 0 100%);
  background-color: var(--accent-color);

  @include mobile {
    clip-path: polygon(0 5%, 100% 0, 100% 97%, 0 100%);
    padding-top: 100px;
  }

  &__title {
    color: var(--black-color);
  }

  &__wrapper {
    @include flex-all-center;

    margin-bottom: 50px;

    @include tablet {
      flex-direction: column;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  &__image {
    border-radius: 30px;
    margin-right: 100px;

    @include tablet {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__info {
    max-width: 500px;
    display: flex;
    flex-direction: column;

    @include mobile {
      max-width: 100%;
    }
  }

  &__text {
    @include mb(30px);

    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black-color);
  }

  &__subtitle {
    font-size: 30px;
    color: var(--black-color);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    gap: 30px;
  }

  &__item {
    grid-column: 1 span;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include tablet {
      grid-column: 2 span;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    color: var(--black-color);
  }

  &__icon {
    margin-bottom: 20px;
  }
}
