.footer {
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--accent-color);

  &__container {
    text-align: center;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--light-color);
  }

  &__email {
    display: inline-block;
    margin-bottom: 40px;
    color: var(--light-color);
    font-size: 20px;

    &:focus {
      outline: 2px solid var(--black-color);
      outline-offset: 4px;
      border-radius: 30px;
    }
  }
}
