.header {
  padding-top: 40px;
  background-color: var(--light-color);

  &__container {
    @include flex-all-sb;
  }
}

.nav {
  @include flex-all-center;

  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 50vw;
  height: 100vh;
  background-color: var(--accent-color);
  transform: translateX(calc(-150% + 6vw));
  transition: 1s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: transform;

  @include mobile {
    width: 60vw;
  }

  &__list {
    @include flex-all-center;

    flex-direction: column;
  }

  &__item {
    @include mb(30px);

    font-size: 40px;
    font-weight: 700;
    color: var(--light-color);

    @include mobile {
      font-size: 25px;
    }
  }

  &__link {
    color: currentColor;
  }
}

.nav.menu--active {
  border-radius: 0;
  transform: translateX(0);
}

.switch {
  display: flex;
  align-items: center;

  &__wrapper {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 35px;
  }

  &__text {
    margin: 0;
    margin-right: 30px;
    color: var(--black-color);

    @include mobile {
      display: none;
    }
  }

  &__input {
    opacity: 1;
    width: 0;
    height: 0;

    &:checked + .switch__slider {
      background-color: var(--gray-color);
      border: 1px solid transparent;
    }

    &:checked + .switch__slider::before {
      transform: translateX(44px);
    }
  }

  &__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    border: 1px solid var(--silver-color);
    background-color: var(--light-color);
    transition: background-color 0.3s;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: 0;
      bottom: 0;
      height: 32px;
      width: 32px;
      border-radius: 16px;
      background-color: var(--light-color);
      box-shadow: 0 2px 5px var(--gray-color);
      transition: transform 0.3s;
    }
  }
}
