.hero {
  min-height: 800px;
  background-color: var(--light-color);

  @include mobile {
    min-height: 600px;
  }

  &__container {
    @include flex-all-sb;

    @include tablet {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 660px;

    @include tablet {
      max-width: 100%;
      margin-bottom: 30px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 55px;
    line-height: 62px;
    font-weight: 400;
    color: var(--black-color);

    @include mobile {
      font-size: 32px;
      line-height: 42px;
    }

    &--bold {
      display: inline-block;
      margin-bottom: 20px;
      font-weight: 700;

      @include mobile {
        margin-bottom: 10px;
      }
    }

    &--position {
      display: block;

      @include mobile {
        font-size: 24px;
      }
    }
  }

  &__btn {
    @include mobile {
      max-width: 100%;
    }
  }

  &__image {
    display: block;
    @include shadowAnimation;

    box-shadow: 300px 300px 300px rgba(2, 170, 176, 0.9);
    border-radius: 30px;
    animation: shadowAnimation 2s ease-in-out infinite;
  }
}
