.hero {
  min-height: 600px;
  background-color: var(--light-color);

  &__container {
    @include flex-all-sb;
  }

  &__content {
    max-width: 660px;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 56px;
    font-weight: 400;
    color: var(--black-color);

    &--bold {
      display: inline-block;
      margin-bottom: 20px;
      font-weight: 700;
    }

    &--position {
      display: block;
    }
  }

  &__image {
    display: block;
    border-radius: 30px;
  }
}
