.social {
  @include flex-all-center;

  flex-wrap: wrap;

  &__item {
    @include mr(20px);
  }

  &__link {
    @include flex-all-center;

    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--insta {
      background-image: url(../img/insta.svg);
    }

    &--tg {
      background-image: url(../img/tg.svg);
    }

    &--github {
      background-image: url(../img/github-icon.svg);
    }

    &:focus {
      outline: 2px solid var(--black-color);
      outline-offset: 4px;
    }
  }
}
