<section class="about section-offset">
  <div class="container">
    <h2 class="about__title title">Обо мне</h2>
    <div class="about__wrapper">
      <picture>
        <source srcset="img/about-bg.webp" type="image/webp">
        <img loading="lazy" src="img/about-bg.jpg" class="about__image" width="300" height="300" alt=""
          aria-hidden="true">
      </picture>
      <div class="about__info">
        <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore voluptas corrupti nisi
          cupiditate ex culpa velit quae expedita, debitis consequatur impedit! Alias ratione consequuntur tempora. Unde
          quo repellendus magnam dolorum!</p>
        <p class="about__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore voluptas corrupti
          nisi
          cupiditate ex culpa velit quae expedita, debitis consequatur impedit! Alias ratione consequuntur tempora.
          Unde
          quo repellendus magnam dolorum!</p>
      </div>
    </div>
  </div>
</section>
