<section class="about section-offset" id="about">
  <div class="container">
    <h2 class="about__title title" data-aos="fade-right" data-aos-duration="1000">Обо мне</h2>
    <div class="about__wrapper">
      <picture>
        <source srcset="img/about-bg.webp" type="image/webp">
        <img loading="lazy" src="img/about-bg.jpg" class="about__image" width="300" height="300" alt=""
          aria-hidden="true">
      </picture>
      <div class="about__info">
        <p class="about__text">Как веб-разработчик, я способен решать задачи, которые способствуют развитию бизнеса, и
          обладаю пониманием особенностей заказчиков.</p>
        <p class="about__text">
          У меня есть страсть к созданию инновационных сайтов, которые одновременно функциональные и эстетически
          привлекательны. Особое внимание уделяю доступности на всех уровнях. Я стремлюсь создавать семантически
          правильные,понятные и привлекательные сайты для всех пользователей.</p>
        <p class="about__text">
          Всегда открыт для новых задач и непрерывно обучаюсь новым трендам и современным подходам к
          реализации
          проектов.</p>
      </div>
    </div>
    <h3 class="about__subtitle title" data-aos="fade-left" data-aos-duration="1000">Мои навыки</h3>
    <ul class="about__list list-reset">
      <li class="about__item">
        <span class="about__name">HTML5</span>
        <img class="about__icon" src="img/html.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">CSS</span>
        <img class="about__icon" src="img/css.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">SCSS</span>
        <img class="about__icon" src="img/scss.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">JS</span>
        <img class="about__icon" src="img/js.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">Gulp</span>
        <img class="about__icon" src="img/gulp.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">Figma</span>
        <img class="about__icon" src="img/figma.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">Ps</span>
        <img class="about__icon" src="img/ps.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
      <li class="about__item">
        <span class="about__name">GitHub</span>
        <img class="about__icon" src="img/github.svg" loading="lazy" alt="" width="40" height="40" aria-hidden="true">
      </li>
    </ul>
  </div>
</section>
