<section class="contacts section-offset" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title title" data-aos="flip-up" data-aos-duration="1000">Контакты</h2>
    <a class="contacts__email" href="mailto:xigga11@gmail.com">Почта: xigga11@gmail.com</a>
    <ul class="contacts__list list-reset">
      <li class="contacts__item">
        <a class="contacts__link contacts__link--insta" href="https://www.instagram.com/vetosy/" aria-label="instagram"
          target="_blank"></a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link contacts__link--tg" href="https://t.me/VVVetos" aria-label="Telegram"
          target="_blank"></a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link contacts__link--github" href="https://github.com/Vetosy" aria-label="Github"
          target="_blank"></a>
      </li>
    </ul>
  </div>
</section>
