<footer class="footer section-offset" id="footer">
  <div class="footer__container container">
    <h2 class="footer__title title" data-aos="flip-up" data-aos-duration="1000">Контакты</h2>
    <a class="footer__email" href="mailto:xigga11@gmail.com">Почта: xigga11@gmail.com</a>
    <ul class="footer__list list-reset social">
      <li class="social__item">
        <a class="social__link social__link--insta" href="https://www.instagram.com/vetosy/" aria-label="instagram"
          target="_blank"></a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--tg" href="https://t.me/VVVetos" aria-label="Telegram" target="_blank"></a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--github" href="https://github.com/Vetosy" aria-label="Github"
          target="_blank"></a>
      </li>
    </ul>
  </div>
</footer>
