<header class="header">
  <div class="container-fluid">
    <nav class="nav" aria-label="Основное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__icon">
              <use xlink:href="img/sprite.svg#about"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__icon">
              <use xlink:href="img/sprite.svg#experience"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__icon">
              <use xlink:href="img/sprite.svg#skill"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">
            <svg class="nav__icon">
              <use xlink:href="img/sprite.svg#portfolio"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
