<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Виталий Степнов CV</title>
  <meta name="description"
    content="Виталий Степнов - опытный фрилансер, специализирующийся в области верстки и фронтенд разработки. Он обладает глубокими знаниями и навыками в создании качественных веб-страниц и интерфейсов. Стремясь к постоянному совершенствованию, Виталий активно следит за последними тенденциями в сфере веб-разработки и применяет их в своей работе.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://vetosy.github.io/Portfolio/">
  <meta property="og:title" content="Виталий Степнов CV портфолио">
  <meta property="og:description"
    content="Виталий Степнов - опытный фрилансер, специализирующийся в области верстки и фронтенд разработки. Он обладает глубокими знаниями и навыками в создании качественных веб-страниц и интерфейсов. Стремясь к постоянному совершенствованию, Виталий активно следит за последними тенденциями в сфере веб-разработки и применяет их в своей работе.">
  <meta property="og:image" content="https://i.ibb.co/z51HhfF/vitaliystepnov.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://vetosy.github.io/Portfolio/">
  <meta property="twitter:title" content="Виталий Степнов CV портфолио">
  <meta property="twitter:description"
    content="Виталий Степнов - опытный фрилансер, специализирующийся в области верстки и фронтенд разработки. Он обладает глубокими знаниями и навыками в создании качественных веб-страниц и интерфейсов. Стремясь к постоянному совершенствованию, Виталий активно следит за последними тенденциями в сфере веб-разработки и применяет их в своей работе.">
  <meta property="twitter:image" content="https://i.ibb.co/z51HhfF/vitaliystepnov.jpg">
  <meta name="keywords"
    content="Виталий Степнов,Vetosy,Vetos,фрилансер, верстка, фронтенд разработка, веб-страницы, интерфейсы, тенденции веб-разработки,портфолио">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Vetos">
  <link rel="preload" href="fonts/AcromRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AcromBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
