<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Виталий Степнов CV</title>
  <meta name="description"
    content="Виталий Степнов - опытный фрилансер, специализирующийся в области верстки и фронтенд разработки. Он обладает глубокими знаниями и навыками в создании качественных веб-страниц и интерфейсов. Стремясь к постоянному совершенствованию, Виталий активно следит за последними тенденциями в сфере веб-разработки и применяет их в своей работе.">
  <meta name="keywords"
    content="Виталий Степнов,Vetosy,Vetos,фрилансер, верстка, фронтенд разработка, веб-страницы, интерфейсы, тенденции веб-разработки">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Vetos">
  <link rel="preload" href="fonts/AcromRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/AcromBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
