<section class="hero section-offset">
  <div class="hero__container container">
    <div class="hero__content" data-aos="fade-up" data-aos-duration="1000">
      <h1 class="hero__title">
        <span class="hero__title--bold">Виталий</span> Степнов
        <span class="hero__title--position">HTML-верстальщик</span>
        <span class="hero__title--position">Frontend-разработчик</span>
      </h1>
      <a class="hero__btn btn btn-reset" href="Vitaliy Stepnov,Fronted-developer.pdf" download
        aria-label="Скачать резюме">Скачать резюме</a>
    </div>
    <div class="hero__meta">
      <picture>
        <source media="(min-width: 576px)" srcset="img/vitaliystepnov_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/vitaliystepnov.webp" type="image/webp">
        <source srcset="img/vitaliystepnov.webp" type="image/webp">
        <img src="img/vitaliystepnov.jpg" srcset="img/vitaliystepnov_2x.jpg 2x" class="hero__image" width="450"
          height="450" alt="Виталий Степнов" data-aos="fade-left" data-aos-duration="1000">
      </picture>
      <ul class="hero__list list-reset social">
        <li class="social__item" data-aos="fade-up" data-aos-duration="1000">
          <a class="social__link social__link--email" href="mailto:xigga11@gmail.com" aria-label="Gmail"
            target="_blank"></a>
        </li>
        <li class="social__item" data-aos="fade-up" data-aos-duration="1200">
          <a class="social__link social__link--insta" href="https://www.instagram.com/vetosy/" aria-label="instagram"
            target="_blank"></a>
        </li>
        <li class="social__item" data-aos="fade-up" data-aos-duration="1400">
          <a class="social__link social__link--tg" href="https://t.me/VVVetos" aria-label="Telegram"
            target="_blank"></a>
        </li>
        <li class="social__item" data-aos="fade-up" data-aos-duration="1600">
          <a class="social__link social__link--github" href="https://github.com/Vetosy" aria-label="Github"
            target="_blank"></a>
        </li>
      </ul>
    </div>
  </div>
</section>
