<section class="hero">
  <div class="container-fluid">
    <div class="hero__wrapper">
      <h1 class="hero__name">
        Виталий
        <span class="hero__name--lastname">Степнов</span>
        <span class="hero__name--position">
          HTML-верстальщик
        </span>
        <span class="hero__name--position">Frontend-разработчик</span>
      </h1>
      <picture>
        <source srcset="img/vitaliystepnov.webp" type="image/webp">
        <img loading="lazy" src="img/vitaliystepnov.jpg" srcset="img/vitaliystepnov.jpg" class="hero__image" width="380"
          height="380" alt="Виталий Степнов">
      </picture>
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <a class="hero__social" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#email"></use>
            </svg>
          </a>
        </li>
        <li class="hero__item">
          <a class="hero__social" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="hero__item">
          <a class="hero__social" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#insta"></use>
            </svg>
          </a>
        </li>
        <li class="hero__item">
          <a class="hero__social" href="#">
            <svg>
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
