<section class="hero section-offset">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__title--bold">Виталий</span> Степнов
        <span class="hero__title--position">HTML-верстальщик</span>
        <span class="hero__title--position">Frontend-разработчик</span>
      </h1>
      <a class="btn btn-reset" href="#" download>Скачать резюме</a>
    </div>
    <a class="hero__link" data-fslightbox="gallery-1" href="img/vitaliystepnov404.jpg">
      <picture>
        <source media="(min-width: 576px)" srcset="img/vitaliystepnov_2x.webp 2x" type="image/webp">
        <source media="(max-width: 575px)" srcset="img/vitaliystepnov.webp" type="image/webp">
        <source srcset="img/vitaliystepnov.webp" type="image/webp">
        <img loading="lazy" src="img/vitaliystepnov.jpg" srcset="img/vitaliystepnov_2x.jpg 2x" class="hero__image"
          width="450" height="450" alt="Виталий Степнов">
      </picture>
    </a>
  </div>
</section>
