// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Montserrat", sans-serif;
  --content-width: 1320px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #ffffff;
  --black-color: #1e1e21;
  --accent-color: #02aab0;
  --gray-color: #8b8b8b;
  --silver-color: #cccccc;

  // gradient

  --btn-gradient-color: linear-gradient(
    to left,
    transparent 0%,
    #ffffff 40% 60%,
    transparent 100%
  );
}
